.background-dark {
  background: url("images/pittsburgh.jpg") center center no-repeat;
  background-color: black;
  background-size: cover;
  min-height: 500px;
}

header {
  color: white
}

header h1 {
  font-family: 'Pacifico', cursive;
}

.websites {
  width: 80%;
}

a i {
  color: black;
}
